/* line 3, scss/style.scss */
/* line 2, css/scss/style.css */
body {
  font-family: 'Bitter', serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  position: relative;
  overflow-x: hidden;
  user-select: none; }

/* line 13, scss/style.scss */
/* line 12, css/scss/style.css */
div, p, form, input, a, span, button {
  box-sizing: border-box; }

/* line 17, scss/style.scss */
/* line 16, css/scss/style.css */
ul {
  margin: 0;
  padding: 0; }

/* line 22, scss/style.scss */
/* line 21, css/scss/style.css */
li {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 29, scss/style.scss */
/* line 27, css/scss/style.css */
p {
  margin: 0;
  padding: 0; }

/* line 34, scss/style.scss */
/* line 32, css/scss/style.css */
a {
  text-decoration: none; }

/* line 38, scss/style.scss */
/* line 36, css/scss/style.css */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

/* line 43, scss/style.scss */
/* line 41, css/scss/style.css */
h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #b52a74; }

/* line 50, scss/style.scss */
/* line 48, css/scss/style.css */
h3 {
  font-size: 22px;
  text-transform: uppercase; }

/* line 55, scss/style.scss */
/* line 53, css/scss/style.css */
button {
  text-decoration: none;
  border: none;
  outline: none;
  background: transparent; }

/* line 62, scss/style.scss */
/* line 60, css/scss/style.css */
.container {
  width: 80%;
  margin: 0 auto; }

/* line 68, scss/style.scss */
/* line 65, css/scss/style.css */
.header {
  height: 85vh;
  padding: 50px 0 100px;
  background: url("../../img/21249044f0f0f0f8b3e0b0.jpg") no-repeat top center/cover; }

/* line 74, scss/style.scss */
/* line 70, css/scss/style.css */
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }

/* line 82, scss/style.scss */
/* line 75, css/scss/style.css */
.header__logo img {
  width: 90px;
  height: 90px; }

/* line 87, scss/style.scss */
/* line 79, css/scss/style.css */
.header__logo:hover {
  opacity: 0.5; }

/* line 92, scss/style.scss */
/* line 82, css/scss/style.css */
.header__menu {
  width: 50%;
  display: flex;
  justify-content: space-between; }

/* line 98, scss/style.scss */
/* line 87, css/scss/style.css */
.header__link {
  color: #b52a74;
  font-size: 23px;
  text-transform: uppercase; }

/* line 103, scss/style.scss */
/* line 92, css/scss/style.css */
.header__link:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  transition: all 0.5s ease; }

/* line 112, scss/style.scss */
/* line 97, css/scss/style.css */
.header__arrow img {
  padding-top: 140px;
  opacity: 0.5;
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto; }

/* line 120, scss/style.scss */
/* line 105, css/scss/style.css */
.header__arrow img:hover {
  opacity: 1;
  transition: all 0.5s ease; }

/* line 129, scss/style.scss */
/* line 110, css/scss/style.css */
.offer {
  padding: 180px 0 200px; }

/* line 133, scss/style.scss */
/* line 113, css/scss/style.css */
.offer__title {
  color: #b52a74;
  font-weight: 600;
  text-align: center;
  font-size: 40px; }

/* line 139, scss/style.scss */
/* line 119, css/scss/style.css */
.offer__title p {
  margin-top: 15px;
  font-size: 30px; }

/* line 146, scss/style.scss */
/* line 124, css/scss/style.css */
.about {
  padding: 100px 0; }

/* line 149, scss/style.scss */
/* line 127, css/scss/style.css */
.about__card {
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

/* line 157, scss/style.scss */
/* line 134, css/scss/style.css */
.about__img {
  width: 30%; }

/* line 161, scss/style.scss */
/* line 137, css/scss/style.css */
.about__text {
  width: 60%;
  text-align: right; }

/* line 165, scss/style.scss */
/* line 141, css/scss/style.css */
.about__text ul {
  margin-top: 10px; }

/* line 169, scss/style.scss */
/* line 144, css/scss/style.css */
.about__text p {
  line-height: 30px; }

/* line 173, scss/style.scss */
/* line 147, css/scss/style.css */
.about__text li {
  line-height: 28px; }

/* line 177, scss/style.scss */
/* line 150, css/scss/style.css */
.about__text a {
  color: #000;
  border-bottom: 1px solid #000; }

/* line 181, scss/style.scss */
/* line 154, css/scss/style.css */
.about__text a:hover {
  color: #b52a74;
  border-bottom: none;
  transition: all 0.5s ease; }

/* line 189, scss/style.scss */
/* line 159, css/scss/style.css */
.about__text:nth-child(1) {
  text-align: left; }

/* line 193, scss/style.scss */
/* line 162, css/scss/style.css */
.about__diplom {
  width: 45%; }

/* line 199, scss/style.scss */
/* line 166, css/scss/style.css */
.works {
  padding: 100px 0;
  background-color: #fdbaa6; }

/* line 204, scss/style.scss */
/* line 170, css/scss/style.css */
.works__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px; }

/* line 212, scss/style.scss */
/* line 176, css/scss/style.css */
.works__card {
  text-align: center;
  width: 50%;
  margin-bottom: 50px; }

/* line 218, scss/style.scss */
/* line 181, css/scss/style.css */
.works a:hover {
  opacity: 0.5;
  transition: all 0.5s ease; }

/* line 223, scss/style.scss */
/* line 185, css/scss/style.css */
.works img {
  width: 84%;
  border-radius: 50px;
  margin: 15px 0; }

/* line 230, scss/style.scss */
/* line 191, css/scss/style.css */
.contacts {
  padding: 100px 0;
  text-align: center; }

/* line 235, scss/style.scss */
/* line 195, css/scss/style.css */
.contacts__content {
  margin-top: 40px; }

/* line 239, scss/style.scss */
/* line 198, css/scss/style.css */
.contacts ul {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap; }

/* line 246, scss/style.scss */
/* line 204, css/scss/style.css */
.contacts a {
  padding-right: 15px;
  color: #000000; }

/* line 250, scss/style.scss */
/* line 208, css/scss/style.css */
.contacts a:hover {
  opacity: 0.5; }

/* line 255, scss/style.scss */
/* line 211, css/scss/style.css */
.contacts img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px; }

/* line 261, scss/style.scss */
/* line 216, css/scss/style.css */
.contacts__mail {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center; }

/* line 267, scss/style.scss */
/* line 222, css/scss/style.css */
.contacts__mail a:hover {
  color: #b52a74;
  transition: all 0.5s ease; }

/* line 274, scss/style.scss */
/* line 227, css/scss/style.css */
.btn-up {
  opacity: 0;
  transition: all 0.5s ease; }

/* line 278, scss/style.scss */
/* line 231, css/scss/style.css */
.btn-up img {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 15px;
  bottom: 15px;
  display: block;
  cursor: pointer; }

/* line 288, scss/style.scss */
/* line 240, css/scss/style.css */
.btn-up.show {
  opacity: 1; }

/* line 291, scss/style.scss */
/* line 243, css/scss/style.css */
.btn-up.show:hover {
  opacity: 0.5; }

@media screen and (max-width: 1200px) {
  /* line 300, scss/style.scss */
  /* line 248, css/scss/style.css */
  .container {
    width: 80%;
    padding: 0 60px; }
  /* line 307, scss/style.scss */
  /* line 252, css/scss/style.css */
  .header__menu {
    width: 60%; }
  /* line 314, scss/style.scss */
  /* line 255, css/scss/style.css */
  .about__text {
    width: 55%; }
  /* line 318, scss/style.scss */
  /* line 258, css/scss/style.css */
  .about__diplom {
    width: 40%; } }

@media screen and (max-width: 992px) {
  /* line 326, scss/style.scss */
  /* line 263, css/scss/style.css */
  body {
    font-size: 16px; }
  /* line 329, scss/style.scss */
  /* line 266, css/scss/style.css */
  .container {
    width: 95%;
    padding: 0; }
  /* line 335, scss/style.scss */
  /* line 270, css/scss/style.css */
  .about, .works, .contacts {
    padding: 50px 0; }
  /* line 341, scss/style.scss */
  /* line 273, css/scss/style.css */
  .header__menu {
    justify-content: space-around; } }

@media screen and (max-width: 768px) {
  /* line 351, scss/style.scss */
  /* line 278, css/scss/style.css */
  h2 {
    font-size: 25px; }
  /* line 355, scss/style.scss */
  /* line 281, css/scss/style.css */
  h3 {
    font-size: 20px; }
  /* line 359, scss/style.scss */
  /* line 284, css/scss/style.css */
  .offer {
    padding: 100px 0; }
  /* line 363, scss/style.scss */
  /* line 287, css/scss/style.css */
  .offer__title {
    font-size: 30px; }
  /* line 366, scss/style.scss */
  /* line 290, css/scss/style.css */
  .offer__title p {
    font-size: 25px; }
  /* line 372, scss/style.scss */
  /* line 293, css/scss/style.css */
  .header {
    padding: 50px 0;
    height: auto; }
  /* line 376, scss/style.scss */
  /* line 297, css/scss/style.css */
  .header__link {
    font-size: 20px; }
  /* line 382, scss/style.scss */
  /* line 300, css/scss/style.css */
  .header__arrow img {
    padding-top: 300px; }
  /* line 390, scss/style.scss */
  /* line 303, css/scss/style.css */
  .about h2 {
    margin-bottom: 30px; }
  /* line 394, scss/style.scss */
  /* line 306, css/scss/style.css */
  .about__card {
    margin-top: 10px;
    flex-wrap: wrap; }
  /* line 399, scss/style.scss */
  /* line 310, css/scss/style.css */
  .about__text {
    width: 100%;
    margin: 15px 0;
    text-align: center !important; }
  /* line 408, scss/style.scss */
  /* line 315, css/scss/style.css */
  .works__card {
    width: 100%; }
  /* line 412, scss/style.scss */
  /* line 318, css/scss/style.css */
  .works img {
    width: 50%; } }

@media screen and (max-width: 576px) {
  /* line 424, scss/style.scss */
  /* line 323, css/scss/style.css */
  .header__menu {
    flex-direction: column;
    text-align: right; }
  /* line 429, scss/style.scss */
  /* line 327, css/scss/style.css */
  .header__link {
    font-size: 18px;
    width: 100%; }
  /* line 436, scss/style.scss */
  /* line 331, css/scss/style.css */
  .header__logo img {
    width: 60px;
    height: 60px; }
  /* line 449, scss/style.scss */
  /* line 335, css/scss/style.css */
  .offer {
    padding: 80px 0; }
  /* line 455, scss/style.scss */
  /* line 338, css/scss/style.css */
  .about img {
    display: none; }
  /* line 462, scss/style.scss */
  /* line 341, css/scss/style.css */
  .contacts img {
    width: 40px;
    height: 40px; } }
